{% extends "base.html" %}

{% block title %}
{{ article.title }}
{% endblock title %}

{% block main_colomn %}
  <!-- Title -->
  <h1 class="mt-4">{{ article.title }}</h1>

  <!-- Author -->
  <p class="lead">
    by
    <a href="#">{{ article.author.username }}</a>
  </p>

  <hr>

  <!-- Date/Time -->
  <p>{{ article.created }}</p>

  <hr>
  <img src="{{ article.image.url }}">

  <!-- Post Content -->
  <p class="lead">
  	{{ article.content }}
  </p>

  <a href="{% url 'main:home' %}">Back to home</a>
  <hr>
  <div>
    <h3>Tags:</h3>
    <ul>
      {% for tag in article.tags.all %}
        <li>
          {{ tag }}
        </li>
      {% endfor %}
    </ul>
  </div>
  <hr>

  <div id="likes" class="likes">
    <a href="#" data-article-id="{{ article.id }}">
    <i class="fas fa-heart {% if article.liked %}liked{% endif %}"></i></a>
    <span class="counter">{{ article.likes.count }}</span>
  </div>

  <hr>
  <!-- Comments Form -->
  <div class="card my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body comment-form">
      {% include "comments/comment.html" with comment_form=add_comment_form %}
    </div>
  </div>

  <div class="comments-block">
    <div id="comments-content">
      {% include "comments/comments.html" with comments=comments %}
    </div>
    <div id="comment-more" data-num="1" data-article-id="{{ article.id }}">
      <button id="comment-btn" class="btn">Show more</button>
    </div>
  </div>

{% endblock main_colomn %}

{% block js %}
  <script type="text/javascript">
      $('#likes a').click(function (e) {
          e.preventDefault()
          articleID = $(this).data('article-id')
          _this = this
          $.ajax({
              url: "{% url 'main:like-article' %}",
              method: 'POST',
              data: "article_id=" + articleID,
              success: function (response) {

              }
          })
      });

      $('#comment-more').click(function (e) {
          e.preventDefault();
          num = $(this).data('num');
          article_id = $(this).data('article-id');
          data = {
            'num': num,
            'article_id': article_id
          }

          $.ajax({
              url: "{% url 'comments:get_comments' %}",
              method: 'GET',
              data: data,
              success: function (response) {
                $('#comment-more').data('num', +$('#comment-more').data('num') + 1)
                $('#comments-content').append(response.content)
              },
              error: function (x, y, z) {
                console.log(x, y, z);
              }
          })
      })
  </script>
{% endblock js %}